.form {
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 350px;

}

.text {
  margin-top: 0;
  background: linear-gradient(45deg, #663399, #7B68EE); // Example gradient colors
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
  font-weight: 900;
  font-size: 4.5em;
}

.form h1, h2, p{
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form input {
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgba(219,219,219, 0.5);
}


#submit{
  justify-content: center;
}

.button{
  border-radius: 8px;
}

.notification {
  position: fixed;
  top: 50px;
  right: 0px;
  z-index: 1000;
  width: 300px;
  max-height: 100vh;
  overflow-y: auto;
}





