*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  width: 275px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
  background-color: rgba(25, 25, 25, 0.05);
}
.cardContent{
  padding: 16px;
  color: rgba(225,225,225, 1);

}


